*.o
lib/Math/Random/PCG32.c
Makefile
Makefile.old
Build
Build.bat
META.*
MYMETA.*
.build/
_build/
cover_db/
blib/
inc/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
Math-Random-PCG32-*
Math-Random-PCG32-*.tar.gz
