*.core
*.o
.build/
.last_cover_stats
.lwpcookies
Build
Build.bat
META.*
MYMETA.*
Makefile
Makefile.old
Math-Random-PCG32-*
Math-Random-PCG32-*.tar.gz
_build/
blib/
cover_db/
inc/
lib/Math/Random/PCG32.c
nytprof.out
pm_to_blib
pod2htm*.tmp
